@model Dictionary<string, KeyValuePair<string, bool>[]>

@{
    ViewData["Title"] = "List Group Page";
}

<style>
    .container + .container {
        margin-top: 20px;
        padding: 0px;
    }

    .schedule-item {
        text-align: center;
        padding: 10px;
        margin: 5px 0;
        position: relative;
        color: white;
    }

    .delete-btn {
        position: absolute;
        
        right: 5px;
        cursor: pointer;
        color: white;
        background: none;
        border: none;
        font-size: 1rem;
    }
</style>

@foreach (var facultySchedule in Model)
{
    <div class="container">
        <h1 class="text-center">@facultySchedule.Key</h1>
        <div class="row">
            @if (facultySchedule.Value.Any())
            {
                foreach (var group in facultySchedule.Value)
                {
                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="schedule-item btn @(group.Value ? "btn-success" : "btn-secondary") w-100 fs-5">
                            <a asp-action="GroupDetails" asp-route-id="@group.Key" class="text-white text-decoration-none">
                                @group.Key
                            </a>
                            <button class="delete-btn" onclick="deleteGroup('@group.Key')">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="col-12">Нет данных о группах для данного факультета.</p>
            }
        </div>
    </div>
}

@section scripts {
   

    <!-- Подключение вашего скрипта -->
    <script src="~/js/ListGroup.js"></script>
}