@model IEnumerable<diary.ViewModels.ClassViewItem>

@if (!Model.Any())
{
    <p>Здесь будут занятия.</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Семестр</th>
                <th>Учебный год</th>
                <th>Тип занятия</th>
                @if (!User.IsInRole("GroupHead"))
                {
                    <th>Группа</th>
                }
                
                <th>Преподаватель</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Subject</td>
                    <td>@item.Semester</td>
                    <td>@item.AcademicYear</td>
                    <td data-lesson-type="@item.Type.ToString().ToLower()" class="lesson-type"></td>
                    @if (!User.IsInRole("GroupHead"))
                    {
                        <td>@item.GroupNumber</td>
                    }
                    <td>@item.InstructorName</td>
                    <td>
                        <button class="btn btn-primary" onclick="openEditClassModal(@item.ClassId)">Редактировать</button>
                        <button class="btn btn-danger" onclick="deleteClass(@item.ClassId)">Удалить</button>
                        <a asp-action="ManageAttendance" asp-controller="Shared" asp-route-classId="@item.ClassId" class="btn btn-secondary">Посещаемость</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
